.name {
    color: rgb(97, 5, 97);
    font-family: "Crimson Text", serif;
}

.Age {
    font-family: "Source Serif 4", serif;
    font-weight: bold;
    color: rgb(197, 46, 207);
}

.Hometown {
    font-family: "Source Serif 4", serif;
    font-weight: bold;
    color: rgb(197, 46, 207);
}

.PrimaryGenre {
    font-family: "Source Serif 4", serif;
    font-weight: bold;
    color: rgb(197, 46, 207);

}

.Number {
    font-family: "Source Serif 4", serif;
    font-weight: bold;
    color: rgb(197, 46, 207);
}

.Song {
    font-family: "Source Serif 4", serif;
    font-weight: bold;
    color: rgb(197, 46, 207);
}
